@model IEnumerable<navettes.Models.Ste>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nomste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emailste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mdpSte)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nomste)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emailste)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mdpSte)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
