@model IEnumerable<navettes.Models.bus>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehiculeDescr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbreSiege)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.passwordste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ste.Nomste)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehiculeDescr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbreSiege)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.passwordste)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ste.Nomste)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
