@model navettes.Models.Offre

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Offre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NmbAbone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmbAbone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stiuation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stiuation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Navette.fromCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navette.fromCity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
